NEXT_PUBLIC_SITE_URL=https://operixsuite.com
NEXT_PUBLIC_OPERIX_CRM_URL=https://crm.operixsuite.com
NEXT_PUBLIC_OPERIX_CRM_ENABLED=true
NEXT_PUBLIC_OPERIX_SIGN_IN_URL=https://invoice.operixsuite.com/login
NEXT_PUBLIC_OPERIX_GET_STARTED_URL=https://invoice.operixsuite.com/signup
NEXT_PUBLIC_OPERIX_SUITE_URL=https://suite.operixsuite.com
NEXT_PUBLIC_OPERIX_CONTROL_URL=https://control.operixsuite.com
NEXT_PUBLIC_OPERIX_INVOICE_URL=https://invoice.operixsuite.com
NEXT_PUBLIC_OPERIX_INVOICE_DEMO_URL=https://demo.invoice.operixsuite.com
NEXT_PUBLIC_OPERIX_HR_URL=https://hr.operixsuite.com
NEXT_PUBLIC_OPERIX_BOOKING_URL=https://booking.operixsuite.com
NEXT_PUBLIC_OPERIX_DESK_URL=https://desk.operixsuite.com
NEXT_PUBLIC_OPERIX_HELP_CENTER_URL=https://helpdesk.operixsuite.com
